# list = []

In [1]:
#list[]

a = [2,3,4,5]

In [2]:
a

[2, 3, 4, 5]

In [4]:
a[0]

2

In [6]:
a[-1]     #{-} means from behind

5

In [10]:
b = [34,"goal",44.55]  #python is heterogenous

In [8]:
b

[34, 'goal', 44.55]

In [9]:
b[1]

'goal'

In [11]:
mine = [12,13,14,15]

In [12]:
your  = mine

In [13]:
mine[1]

13

In [14]:
your[1]

13

In [18]:
your[1] =133  #referring to the same object so the objects gets changed too

In [16]:
mine[1]

133

In [17]:
mine

[12, 133, 14, 15]

# so list[] is an example of MUTABLE in python (can be changed)

# tuple = ()

In [2]:
#tupple()

In [3]:
 a = (1,3,7)

In [4]:
a

(1, 3, 7)

In [5]:
a[0]

1

In [6]:
a[-1]

7

In [26]:
a[1] = 33  #can't do this way; tupple is immutable

TypeError: 'NoneType' object does not support item assignment

# so, Tuple is an example of 'immutable' in Python (can't be changed once declared)

In [9]:
# garbage collection

In [10]:
a = [1,2,3,4]

In [11]:
b = a

In [12]:
a

[1, 2, 3, 4]

In [13]:
b

[1, 2, 3, 4]

In [14]:
a = None

In [16]:
a  #nothing prints, as became Null after assining None

# list of tuple

In [18]:
 li = [(1,2,3),(4,5,6),(7,8)]

In [19]:
li

[(1, 2, 3), (4, 5, 6), (7, 8)]

In [20]:
li[0]

(1, 2, 3)

In [23]:
li[0][0]      #to get an idividual

1

In [24]:
li[0][1]

2

In [34]:
li[0][1] = 222     #li[][] means tupple; immutable

TypeError: 'tuple' object does not support item assignment

In [29]:
li[0]

(1, 2, 3)

In [32]:
li[0] = (11,22,33)   #list[] is mutable

In [33]:
li

[(11, 22, 33), (4, 5, 6), (7, 8)]

# tuple of list

In [36]:
 tup = ([1,2,3],[4,5,6])

In [37]:
tup

([1, 2, 3], [4, 5, 6])

In [38]:
tup[0]

[1, 2, 3]

In [39]:
tup[0][0]

1

In [40]:
#lets try their mutability / immutability

In [42]:
tup[0][0] = 111      #list[][] is mutable

In [43]:
tup[0] = [11,22,33]   #tupple is immutable

TypeError: 'tuple' object does not support item assignment

# set = {}

In [4]:
# same set as used in mathematics, duplicate values are not allowed

In [2]:
a = {1,2,3,4,5}

In [3]:
a

{1, 2, 3, 4, 5}

# dictionary = { "key" : "values ", "key2" : "value2"}

        keys should be unique

In [6]:
d = {"name": "jewel",
    "id": "234"}

In [10]:
d['name']

'jewel'

In [13]:
d['name'] = "salman"       #dictionary is mutable

In [14]:
d

{'name': 'salman', 'id': '234'}

# so in python mutable data are: list[], set{} and dictionary {"key":"value"}